{% load staticfiles %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'taskmaster/indexLayoutTemplate.css' %}" />
    <style>
        table,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div id='calendarDiv'>
        <table id='calendarTable'>
            <tr>
                <h2 id='month'>{{month}}</h3>
            </tr>
            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
            {% for week in weeks %}

            <tr>
                {% for day in week %}
                <td>
                    <p id='date' {% if day.day == now.day %} style="color:blue;font-weight:bold;" {%endif%}>{{day.day}}</p> {% for e in events %} {% if e.startDate.day == day.day %}
                    <li>{{e.title}}</li>{%endif%} {%endfor%}
                    
                </td>
                {%endfor%}
            </tr>
            {%endfor%}
        </table>
    </div>
    
    <div id='tasks'>
        <h3>Tasks</h3>
        {% for task in tasks%}
        <li>{{task.title}}</li>
        {%endfor%}
        <div>

        </div>
</body>

</html>
